.transactions {
  width: 800px;
  margin: 20px auto;
  border: 2px solid rgb(41, 34, 41);
  border-radius: 10px;
  box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
}

.transaction_history {
  width: 100%;
}

.table_head {
  height: 40px;
  background-color: aqua;
}

.table_head__el {
  font-size: 18px;
}

.list {
  height: 25px;
  background-color: white;
}

.list:nth-child(2n) {
  background-color: rgb(223, 240, 223);
}

.list:hover {
  background-color: rgb(94, 45, 151);
  color: white;
}
